@import "tailwindcss";


:root {
  --back: #1b1c1e;
  --bkz: #303030;
  --background: #fae6d6;
  --bg-white: #ededed;
  --bg-sec: #e9e4e9;
  --text-amber: #e17100;
  --color-sec: #e8e8e8;
  --hover-pr: rgba(124, 213, 236, 0.836);
  --mod: #d8d4cd80;
  --grey: #adaba781;
  --grey-text: #868282;
  --error-text: #fb2c36;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: var(--bg-white);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

