@import "tailwindcss";


:root {
  --back: #1b1c1e;
  --bkz: #303030;
  --bg: #ffe6d163;
  --background: #fae6d6;
  --bg-white: #ededed;
  --bg-test: #f59f5563;
  --bg-sec: #e9e4e9;
  --foreground: #171717;
  --text-amber: #e17100;
  --color-sec: #e8e8e8;
  --inv-sec: #171717;
  --hover-pr: rgba(124, 213, 236, 0.836);
  --mod: rgb(204, 204, 204);

}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: var(--color-sec);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

